* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: gray;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
}

.navigation {
    list-style-type: none;
}

.navlink {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.nl1::after {
    content: '  |  ';
}

.link {
    text-decoration: none;
    font-size: .90em;
}

.link:hover {
    cursor: pointer;
}

.buttonnav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid 2px;
    border-color: grey;
    box-shadow: black;
    border-radius: 4px;
    text-align: center;
    padding: 30px 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-block,
.game-feature {
    width: 80%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto 10px auto;
}

.game-link:hover,
.exp-link {
    cursor: pointer;
}

.exp-link {
    display: inline-block;
    border: none;
    background-color: inherit;
    width: 90%;
    line-height: 2em;
}

.exp-button {
    display: inline-block;
    border: none;
    background-color: inherit;
    width: 100%;
    cursor: pointer;
}

.exp-details {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 3px;
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 10px auto 10px auto;
}

.expansion {
    margin: 20px auto 0px auto;
}

h2, h3 {
    display: inline-block;
    width: 80%;
    text-align: center;
}

.random {
    background-color: rgb(100, 100, 100);
    color: white;
}

.hidden {
    display: none;
}